@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/images/ss.jpg" class="img-responsive" />

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Vice Principal</h2>
        <p>
            The Vice President of the United States is to the President as the assistant principal is to the principal. Basically, the assistant principal’s role is in the title (he or she serves as an assistant to the principal), with duties including disciplinary actions, getting involved in parent-teacher conferences, and putting together improvement plans via budgets and other inventories. However, of the role’s many duties, the main goal of an assistant principal is to keep the students and school safe.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Dean</h2>
        <p>A more dated term that’s sometimes more common outside of the United States, headmasters may also go by terms such as headmistress or head teacher. As the most senior teacher or leader of a school, a headmaster’s role is similar to that of a principal..</p>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Teachers play vital roles in the lives of the students in their classrooms. Teachers are best known for the role of educating the students that are placed in their care. Beyond that, teachers serve many other roles in the classroom. Teachers set the tone of their classrooms, build a warm environment, mentor and nurture students, become role models, and listen and look for signs of trouble.</p>

    </div>
</div>